.main-container{
	height: auto;
	width: auto;
	padding: 1rem;
	margin: 1rem;
}

.chart-map {
	display: flex;
	background: white;
	flex-wrap: wrap;
	flex-direction: row;
	min-height: 65vh;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
	padding: 1rem;
	margin: 1rem;
	border-radius: 1rem;
}
	
.chart{
	height: inherit;
	width: 100%;
	justify-content: space-around;
	align-items: center;
}

.activity-table{
	width: 75%;
	border-collapse: collapse;
	margin: auto auto;
	min-width: 400px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.activity-table thead tr {
	backgrond-color: #009879;
	color: black;
	text-align: left;
}
.activity-table th, 
.activity-table td {
	padding: 12px 15px;
}
.activity-table tbody tr {
	border-bottom: 1px solid #dddddd;
}
.acitivty-table tbody tr:nth-of-type(even){
	background-color: #f3f3f3;
}
.activity-table tbody tr.active-row {
	font-weight: bold;
	color: #009879;
}
