.activity-page{
	height: auto;
	width: auto;
	padding: 1rem;
	margin: 1rem;
}

@media only screen and (max-width: 800px){
	.activity-page {
		margin-left: 1rem;
	}
}

@media only screen and (min-width: 800px){
	.activity-page {
		margin-left: 4rem;
	}
}

.main-chart-summary{
	display: flex;
	background: white;
	flex-flow: column;
	jusitfy-content: space-evenly;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
	min-height: 600px;
	padding: 1rem;
	margin: 1rem;
	border-radius: 1rem;
}

.activity-summary{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
}

.summary-box{
	display: inline-block;
	text-align: left;
	padding: 10px 30px 10px 10px;
	margin: 0.5rem;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	overflow: hidden;
}
.summary-box h4 {
	margin: 0;
	padding: 0;
}
.summary-box h5 {
	color: grey;
	margin: 0;
	padding: 0;
}
	
.chart{
	height: 500px;
	width: 100%;
	align-items: center;
}

.lap-chart-summary {
	background: white;
	jusitfy-content: space-evenly;
	min-height: 400px;
}

.section-head{
	background: white;
	padding-bottom: 5px;
	padding-top: 10px;
	padding-left: 1rem;
	text-align: left;
}
.section-head h3 {
	margin: 0;
	color: black;
	font-weight: normal;
}

.lap-chart-section{
	display: flex;
	background: white;
	flex-direction: row;
	flex-flow: column;
	min-height: 400px;
	padding: 1rem;
	margin: 1rem;
}

.laps-chart{
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
}

.laps-summary{
	width: 100%;
}

.laps{
	align-items: stretch;
	border-radius: 1rem;
	display: flex;
	flex-direction: row;
	width: 100%;
	flex-wrap: nowrap;
	overflow-x: auto;
	overflow-y: hidden;
}

.lap {
	/*float: left;*/
	background: white;
	font-size: 12px;
	min-width: 250px;
	max-width: 300px;
	padding: .75rem;
	margin-bottom: 2rem;
	border: 0;
	flex-basis: 40%;
	flex-grow: 0;
	flex-shrink: 0;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
	border-radius: 1rem;
	margin: 1rem;
}

.lap ul {
	list-style-type: none;
	padding: .75rem;
	padding-top: 0;
	padding-bottom: 0;
}

.activity-table{
	display: block;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
	overflow: auto;
}
.activity-table thead tr {
	backgrond-color: #009879;
	color: black;
	text-align: left;
	white-space: nowrap;
}
.activity-table th, 
.activity-table td {
	padding: 12px 15px;
}
.activity-table tbody tr {
	border-bottom: 1px solid #dddddd;
}
.activity-table tbody tr:nth-of-type(even){
	background-color: #f3f3f3;
}
.activity-table>tbody>tr.active>td {
  background: #123456;
  color: #fff;
}
